<div class="whitespace"></div>

<h2 class="upcoming">Upcoming</h2>

<table class="table">
  <tr>
    <td>
      <div class="column">
        <img src="assets/spotify.png" class="spotify" />
        <p class="subscription">Spotify</p>
        <p class="price">$10.59</p>
        <hr>
        <p class="duration">In 10 Days</p>
      </div>
    </td>
    <td>
      <div class="column">
        <img src="assets/hbo.png" class="hbo" />
        <p class="subscription">HBO Max</p>
        <p class="price">$10.59</p>
        <hr>
        <p class="duration">In 11 Days</p>
      </div>
    </td>
    <td>
      <div class="column">
        <img src="assets/money.png" class="pay" />
        <p class="subscription">Pay Day</p>
        <p class="income">$1200</p>
        <hr>
        <p class="duration">In 11 Days</p>
      </div>
    </td>
  </tr>
</table>

<h2>Savings</h2>

<div class="savings">
  <div class="flex">
    <img src="assets/hdr.png" class="image" />
    <div>
      <p class="goal">Vacation</p>
      <h3 class="amount">$400/$1025</h3>
    </div>
  </div>
</div>