h2 {
    margin-top: 30px;
    font-size: 18px;
    margin-left: 15px;
}

.picture {
    margin-top: 30px;
    height: 100px;
    width: 100px;
}

.profile {
    width: auto;
    text-align: center;
}

.name {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin: 12px 0 5px 0;
}

.email {
    margin: 0;
    font-size: 12px;
}

.flex {
    display: flex;
}

.setting {
    margin-top: 30px;
    height: 20px;
    float: right
}

.setting:hover {
    opacity: 70%;
    cursor: pointer;
}

.left {
    width: 100%;
}

.right {
    width: 100%;
    margin-right: 20px;
}