<div class="transactions">
    <div class="flexer">
      <h2>Transactions</h2>
      <p class="more">See More</p>
      <img src="assets/arrow.png" class="arrow">
    </div>
    <table>
      <tr>
        <td>
          <div>
            <p class="day">Today</p>
            <p class="time">1:40 PM</p>
          </div>
        </td>
        <td>
          <div class="product">
            <img src="assets/hdr.png" class="image" />
            <div class="description">
              <p class="productName">Apple Store</p>
              <div class="meta">
                <p>Shopping • Payment with Apple Pay</p>
              </div>
            </div>
          </div>
        </td>
        <td>
          <p class="price">-$345</p>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <p class="day">Today</p>
            <p class="time">9:30 AM</p>
          </div>
        </td>
        <td>
          <div class="product">
            <img src="assets/hdr.png" class="image" />
            <div class="description">
              <p class="productName">Netflix</p>
              <div class="meta">
                <p>Entertainment • Monthly Subscription</p>
              </div>
            </div>
          </div>
        </td>
        <td>
          <p class="price">-$25</p>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <p class="day">Yesterday</p>
            <p class="time">2:00 PM</p>
          </div>
        </td>
        <td>
          <div class="product">
            <img src="assets/hdr.png" class="image" />
            <div class="description">
              <p class="productName">Pay Day</p>
              <div class="meta">
                <p>Work • Direct Deposit</p>
              </div>
            </div>
          </div>
        </td>
        <td>
          <p class="deposit">+$1200</p>
        </td>
      </tr>
    </table>
  </div>
  