<div class="middle">
    <h2>Hi, John Smith</h2>
    <p class="meta">Total Balance</p>
    <div class="heading">
      <h1>$23,048</h1>
      <div class="duration">
        <p class="month">Monthly</p>
        <img src="assets/down.png" class="down" />
      </div>
    </div>
    <div class="middleSection">
      <div class="card">
        <div class="circle"></div>
        <div class="creditCard">
          <p class="type">BLACK</p>
          <div class="outtie">
            <div>
              <p class="cardNumber">0000 0000 0000 0000</p>
              <div class="flex">
                <p class="little">0101</p>
                <p class="valid">VALID</p>
                <p class="expiration">00/00</p>
              </div>
            </div>
            <img
              src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-mastercard-logo-png-vector-download-19.png"
              class="symbol"
            />
          </div>
        </div>
      </div>
      <div>
        <div class="categories">
          <p class="top">Top Categories</p>
          <div class="line"></div>
          <div class="sections">
            <div class="first">
              <h3 class="money">$328</h3>
              <p class="subheader">Shopping</p>
            </div>
            <div class="second">
              <h3 class="money">$268</h3>
              <p class="subheader">Groceries</p>
            </div>
            <div class="third">
              <h3 class="money">$203</h3>
              <p class="subheader">Dining</p>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="weekly">
            <p class="spending">Earned</p>
            <h3 class="amount">$2124</h3>
          </div>
          <div class="weekly">
            <p class="spending">Spent</p>
            <h3 class="amount">$1025</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  