<div class="container">
  <div class="content">
    <div class="flexer">
      <h2 class="text">Transactions</h2>
      <div class="form-header">
        <input
          #myInput
          type="text"
          placeholder="Search your transactions"
          class="search"
          (keyup.enter)="doSearch(myInput.value)"
        />
        <button (click)="doSearch(myInput.value)" class="submit">Search</button>
      </div>
    </div>
    <table>
      <tr>
        <th class="date">Date</th>
        <th class="name">Name</th>
        <th class="amount">Amount</th>
      </tr>
      <tr>
        <td>
          <div>
            <p class="day">Today</p>
            <p class="time">1:40 PM</p>
          </div>
        </td>
        <td>
          <div class="product">
            <img src="assets/apple.png" class="image" />
            <div class="description">
              <p class="productName">Apple Store</p>
              <div class="meta">
                <p>Shopping • Payment with Apple Pay</p>
              </div>
            </div>
          </div>
        </td>
        <td>
          <p class="price">-$345</p>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <p class="day">Today</p>
            <p class="time">9:30 AM</p>
          </div>
        </td>
        <td>
          <div class="product">
            <img src="assets/netflix.jpg" class="image" />
            <div class="description">
              <p class="productName">Netflix</p>
              <div class="meta">
                <p>Entertainment • Monthly Subscription</p>
              </div>
            </div>
          </div>
        </td>
        <td>
          <p class="price">-$25</p>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <p class="day">Yesterday</p>
            <p class="time">2:00 PM</p>
          </div>
        </td>
        <td>
          <div class="product">
            <img src="assets/money.png" class="image" />
            <div class="description">
              <p class="productName">Pay Day</p>
              <div class="meta">
                <p>Work • Direct Deposit</p>
              </div>
            </div>
          </div>
        </td>
        <td>
          <p class="deposit">+$1200</p>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <p class="day">Yesterday</p>
            <p class="time">11:00 PM</p>
          </div>
        </td>
        <td>
          <div class="product">
            <img src="assets/uber.png" class="image" />
            <div class="description">
              <p class="productName">Uber</p>
              <div class="meta">
                <p>Transportation • Paypal</p>
              </div>
            </div>
          </div>
        </td>
        <td>
          <p class="price">-$30</p>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <p class="day">Yesterday</p>
            <p class="time">4:30 PM</p>
          </div>
        </td>
        <td>
          <div class="product">
            <img src="assets/chickfila.png" class="image" />
            <div class="description">
              <p class="productName">Chick-fil-a</p>
              <div class="meta">
                <p>Food</p>
              </div>
            </div>
          </div>
        </td>
        <td>
          <p class="price">-$50</p>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <p class="day">Yesterday</p>
            <p class="time">4:15 PM</p>
          </div>
        </td>
        <td>
          <div class="product">
            <img src="assets/shelly.png" class="image" />
            <div class="description">
              <p class="productName">Shell</p>
              <div class="meta">
                <p>Gas • Debit Card</p>
              </div>
            </div>
          </div>
        </td>
        <td>
          <p class="price">-$75</p>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <p class="day">Yesterday</p>
            <p class="time">4:47 PM</p>
          </div>
        </td>
        <td>
          <div class="product">
            <img src="assets/target.png" class="image" />
            <div class="description">
              <p class="productName">Target</p>
              <div class="meta">
                <p>Shopping</p>
              </div>
            </div>
          </div>
        </td>
        <td>
          <p class="price">-$28.99</p>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <p class="day">Yesterday</p>
            <p class="time">12:00 PM</p>
          </div>
        </td>
        <td>
          <div class="product">
            <img src="assets/starbucks.png" class="image" />
            <div class="description">
              <p class="productName">Starbucks</p>
              <div class="meta">
                <p>Food • Paypal</p>
              </div>
            </div>
          </div>
        </td>
        <td>
          <p class="price">-$12.99</p>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <p class="day">Aug 29</p>
            <p class="time">11:00 PM</p>
          </div>
        </td>
        <td>
          <div class="product">
            <img src="assets/venmoapp.png" class="image" />
            <div class="description">
              <p class="productName">Venmo</p>
              <div class="meta">
                <p>Finance • Transfer</p>
              </div>
            </div>
          </div>
        </td>
        <td>
          <p class="deposit">+$34</p>
        </td>
      </tr>
    </table>
  </div>
</div>
