
.image {
    width: 30px;
    height: 30px;
    margin: 2px 0 5px 85px;
}

.product {
    display: flex;
    margin: 5px;
}

.meta {
    display: flex;
    margin-top: 5px;
    font-size: 12px;
    color: grey
}

p {
    margin: 0px;
    font: white;
}

.description {
    padding-left: 20px;
}

.productName {
    font-weight: 600;
    font-size: 13px;
}

.time {
    font-size: 12px;
    color: grey;
    margin-top: 3px;
}

.price {
    font-weight: 700;
    text-align: right;
    margin-left: 85px;
    font-size: 17px;
}

.day {
    font-size: 13px;
    color: grey;
}

.text {
    font-size: 30px;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-left: 100px;
    font-weight: 600;
}

.deposit {
    font-weight: 700;
    text-align: right;
    margin-left: 90px;
    font-size: 16px;
    color: rgb(38, 177, 38);
}

table {
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    margin: auto;
    width: 80%;
    margin-top: 30px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 2, 0, 0.15);
    border-collapse: separate !important;
    
}

.flexer {
    display: flex;
    width: 80%;
    margin: auto;

}

.container {
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    background: #fcfcfc;
}

.content {
    align-items: center;
    padding: 20px;
    justify-content: center;
    
}

th, td {
    border-bottom: 1px rgb(230, 230, 230) solid;
}

th {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
}

.date {
    text-align: left;
}

.name {
    text-align: left;
    padding-left: 140px;
}

.amount {
    text-align: right;
}

td {
    padding: 6px;
}


.search {
    min-width:350px;
    line-height:43px;
    border:1px solid #e5e5e5;
    font-size:14px;
    color:rgb(178, 178, 178);
    padding:0 17px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:30px;
    margin-right: 40px;
}

.search:focus {
    outline: none !important;
    -webkit-box-shadow:inset 0px 0px 0px 2px #007eec;
}

.submit {
    position:relative;
        right:10px;
        min-width:85px;
        color:rgb(255, 255, 255);
        border-radius:0;
        background: #2d69ff;
        border-radius: 5px;
        border: none;
        font-family: 'Roboto' sans-serif;
        height: 40px;
}

.submit:hover {
    cursor: pointer;
    opacity: 80%;
}

.form-header {
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    justify-content: center;
    align-items: center;
}

