.transactions {
    margin: 20px 0 0 50px;
}


.image {
    width: 30px;
    height: 30px;
    margin: 2px 0 5px 85px;
}

.product {
    display: flex;
    margin: 5px;
}

.meta {
    display: flex;
    margin-top: 5px;
    font-size: 12px;
    color: grey
}

p {
    margin: 0px;
    font: black;
}

.description {
    padding-left: 20px;
}

.productName {
    font-weight: 600;
    font-size: 13px;
}

.time {
    font-size: 12px;
    color: grey;
    margin-top: 3px;
}

.price {
    font-weight: 700;
    text-align: right;
    margin-left: 85px;
    font-size: 17px;
}

.day {
    font-size: 13px;
    color: grey;
}

.text {
    font-size: 18px;
    color: black;
    font-family: 'Roboto' sans-serif;
}

.deposit {
    font-weight: 700;
    text-align: right;
    margin-left: 90px;
    font-size: 16px;
    color: rgb(38, 177, 38);
}

table {
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px rgb(215, 215, 215) solid;
    margin: auto;
}

.flexer {
    display: flex;
    width: 600px;
    margin: auto;
}

.container {
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
}

.content {
    align-items: center;
    padding: 20px;
    justify-content: center;
    
}