.container-outer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background: rgba(227, 227, 227, 0.7);
}
.container-inner {
  background: white;

  position: absolute;
  width: 408px;
  height: 440px;

  background: #f8f8f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.header {
  height: 40px;
  padding: 5px 15px;
    display: flex;
  background: #ffffff;
  border-radius: 5px 5px 0px 0px;
}

.settings {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.subheader {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 12px;

  color: #5f5f5f;
}

.background {
  width: 329px;
  height: 100%;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  padding: 10px 20px 20px 20px;
}

label {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  color: #707070;
}

input {
  width: 100%;
  height: 30px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  background-color: none;
  border-bottom: rgb(234, 234, 234) solid 2px;
  font-size: 16px;
  resize: none;
  margin-bottom: 5px;
}

button {
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
}

.center {
    float: right;
    margin: 20px 42% 0 0;
}

.exit {
    height: 20px;
    align-items: right;
    margin: 12px 10px 0 285px;
}

.exit:hover, button:hover {
    opacity: 80%;
    cursor: pointer;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}