<div class="container-outer">
    <div class="container-inner">
        <div class="header">
            <h2 class="settings">Settings</h2>
            <img src="assets/cross.png" class="exit">
        </div>
        <form class="form">
            <h4 class="subheader">Basic Details</h4>
            <div class="background">
                <div class="mb-3">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" autocomplete="off" class="form-control" name="firstName" value="John">
                  </div>
                  <div class="mb-3"> 
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" autocomplete="off" class="form-control" name="lastName" value="Smith">
                  </div>
                  <div class="mb-3">
                      <label for="phoneNumber" class="form-label">Phone number </label>
                      <input type="text" autocomplete="off" class="form-control" name="number" value="4320984321" >
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="text" autocomplete="off" class="form-control" name="email" value="jsmith@gmail.com" >
                    </div>
            </div>
        
           <div class="center">
            <button type="submit" class="save">Save</button>
        </div>
          </form>  
               
    
    
    </div>
</div>