<form>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      placeholder="Enter email"
      autocomplete="off"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
      autocomplete="off"
    />
  </div>
  <div class="form-group form-check">
    <a routerLink="signUp">New User? Click here to sign up</a>
  </div>
  <div class="container">
  <button type="submit" class="btn btn-primary" id="button">
    Log in <i class="fas fa-sign-in-alt"></i>
  </button>
</div>
</form>
