<div class="background">
  <div class="top">
    <div class="left">
      <img src="assets/saturn.png" class="space" />
      <h2 id="h2">Saturn</h2>
    </div>
    <div class="right">
      <button
        type="button"
        class="button1"
        data-bs-toggle="modal"
        data-bs-target="#login"
      >
        Log in
      </button>
      <button
        type="button"
        name="button"
        class="button2"
        data-bs-toggle="modal"
        data-bs-target="#signUp"
      >
        Sign up
      </button>
    </div>
  </div>
  <div class="main-content">
    <div class="left-content">
      <h1>A money app</h1>
      <div class="flex">
        <h1>that</h1>
        <h1 class="works">works</h1>
        <h1>for</h1>
      </div>
      <h1>everyone</h1>
      <div class="underline"></div>
      <p class="description">
        The best way to save more, spend less & see everything in our all-in-one
        SPA
      </p>
      <button
        type="button"
        name="button"
        class="button3"
        data-bs-toggle="modal"
        data-bs-target="#signUp"
      >
        Get Started
      </button>
    </div>
    <div class="right-content">
      <img src="assets/image (3).png" id="krabs" />
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="login"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Log in</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-login-page></app-login-page>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="signUp"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Sign up</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-signup-up-page></app-signup-up-page>
      </div>
    </div>
  </div>
</div>
