<form>
  <div>
    <label for="firstName" class="form-label">First name</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control"
      />
      <label for="lastName" class="form-label">Last name</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control"
      />
      <label for="email" class="form-label">Email</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control"
      />
      <label for="password" class="form-label">Password</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control"
      />
      <label for="number" class="form-label">Phone Number</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control"
      />
  </div>
 
  <div class="modal-footer">
    <button type="button" class="btn btn-primary">Submit</button>
  </div>
</form>
