<div>
    <h1>Hello Welcome </h1>
      <h3>Create An Account</h3>
       <form>
         <div>
           <label for="email">Email</label>
           <input  required  type="text">
           <label for="password">Password</label>
           <input  type="password">
           <label for="number">Number</label>
           <input type="number">
         </div>
         <button>Submit</button>
         <span>Already have an account? 
         <a routerLink="/login">signUp</a></span>
       </form>
   </div>